html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.container{
	width: 100%;
	margin: 0;
}
#map {
  height: 100%;
}
#map-container{
    height: 800px;
    max-width: 100%;
}
.search-list{
	position: absolute;
	margin-top: 50px;
	margin-left: 9px;
	background: black;
	color: white;
	float: left;
	z-index: 1;
}