body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: 0;
}

.map {
    height: 100%;
}

.map-container {
    height: 800px;
    max-width: 100%;
}

.hidey{
    visibility: hidden;

}

.hiddenError{
    bottom: 40%;
    right: 40%;
    position: absolute;
    width: 30%;
    height: 30%;
    background-color: black;
    padding: 2px;
    z-index: 2;
    color: white;
    border-radius: 2px;
}

.search-list {
    position: absolute;
    height: 100%;
    margin-top: 50px;
    margin-left: 9px;
    background: black;
    float: left;
    z-index: 1;
}

.search-list input {
    margin: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

li a {
    margin: 10px;
    list-style-type: none;
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
    display: block;
    color: white;
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
}

li:last-child {
    border: none;
}

li a:hover {
    font-size: 30px;
    color: white;
    text-decoration: none
}

.weather {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 30%;
    background-color: black;
    padding: 2px;
    z-index: 1;
    color: white;
    border-radius: 2px;
}

.weather h2 {
    text-align: center;
}

.weather p {
    margin: 20px;
}

.weatherIcon {
    float: right;
    padding: 20px;
}

@media (max-width: 1150px) {
    #weatherDescription {
        display: none;
    }
}

@media (max-width: 800px) {
    #inPD {
        display: none;
    }
}

@media (max-width: 800px) {
    .search-list {
        width: 27%;
    }
    .search-list input {
        width: 90%;
    }
}

@media (max-width: 500px) {
    #temp {
        display: none;
    }
    #weatherMain {
        display: none;
    }
    #weatherIcon {
        float: center;
    }
    .weather {
        height: 25%;
    }
}

@media (max-width: 400px) {
    .weather h2 {
        display: none;
    }
    .weather {
        height: 17%;
    }
}